

<template>
  <div>
    <label for="">위도</label>
    <input v-model="lang">
    <label for="">경도</label>
    <input v-model="long">
    <button @click="ViewAddress">주소찾기</button>
    <div id="map"></div>
  </div>
</template>
<script async type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services"></script>
<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      lang:'',
      long:'',

      latitude: 0,
      longitude: 0,      
    }
  },
  mounted() {
      if (window.kakao && window.kakao.maps) {
          this.initMap();
      } else {
          const script = document.createElement('script');
          /* global kakao */
          script.onload = () => kakao.maps.load(this.initMap);
          script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=b19f497140242875652a2cf566f734f0&libraries=services"';
          document.head.appendChild(script);
          
      }
  },  
  methods : {
    initMap() {
        const container = document.getElementById('map');
        const options = {
          center: new kakao.maps.LatLng(33.450701, 126.570667),
          level: 3
        };

        const map = new kakao.maps.Map(container, options);
        console.log(kakao)
        map.setMapTypeId(kakao.maps.MapTypeId.HYBRID);
        
    },    
    searchAddrFromCoords(coords, callback) {
        // 좌표로 행정동 주소 정보를 요청합니다
        geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
    },
    searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    },  
    // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');

            for(let i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    infoDiv.innerHTML = result[i].address_name;
                    break;
                }
            }
        }    
    },     
    ViewAddress() {
      const mapContainer = document.getElementById('map'),     
      mapOption = {
        center: new kakao.maps.LatLng(this.lang, this.long), 
        level: 1 
      }
      console.log(mapContainer, mapOption)
      const map = new kakao.maps.Map(mapContainer, mapOption)
      const geocoder = new kakao.maps.services.Geocoder() 
      const marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
        infowindow = new kakao.maps.InfoWindow({zindex:1})  // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다


      


      // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
      this.searchAddrFromCoords(map.getCenter(), this.displayCenterInfo)         
      // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
      kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
          this.searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
              if (status === kakao.maps.services.Status.OK) {
                   const detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '' 
                  detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>' 
                  
                   const content = '<div class="bAddr">' +
                                  '<span class="title">법정동 주소정보</span>' + 
                                  detailAddr + 
                              '</div>' 

                  // 마커를 클릭한 위치에 표시합니다 
                  marker.setPosition(mouseEvent.latLng) 
                  marker.setMap(map) 

                  // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                  infowindow.setContent(content) 
                  infowindow.open(map, marker) 
              }   
          }) 
      })    
      
      this.lang = ''
      this.long = ''

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
