<template>
    <div class="container">
        <div class="cart-content row">
            <div class="col-8 cart-main">
                <div class="cart-info">
                    <div class="row alert alert-secondary cart-alert" role="alert">
                        <div class="d-flex flex-row justify-content-center align-items-center col-2 cart-img" style="">
                            <div class="d-flex justify-content-center align-items-center icon-back" style="width: 10vh; height: 10vh; border: 1px solid navy ;border-radius: 10vh; background-color: navy">
                                <i style="font-size:x-large;  color : white" class="fas fa-shopping-bag" id="fa-shopping-bag"></i>
                            </div>
                        </div>
                        <div class="col-9 cart-summary">
                            <p class="cart-summary-text" ><strong>※ 고객님께서 장바구니로 등록한 상품목록입니다.</strong></p>
                            <p class="cart-summary-text" ><strong>※ 장바구니 상품은 최대 30개까지 가능하며 30일까지만 보관됩니다.(단 로그인을 하지않으면 24시간만 보관됩니다.)</strong></p>
                        </div>
                    </div>                    
                </div>
                <br>
                
                
                <div class="d-flex flex-row cart-btn-group">
                    <button class="cart-check-btn btn btn-light">전체선택</button>
                    <button class="cart-check-btn btn btn-light">선택상품삭제</button>
                    <button class="cart-check-btn btn btn-light">품절상품삭제</button>
                </div>
                <hr>
                <div  v-for="item in Items" :key="item.uuid" class="main-cart d-flex flex-column">
                    <br>
                    <hr>
                    <div class="d-flex justify-content-between row">
                        <div class="marketAndCheck d-flex col-1 align-item-center">
                            <input class="col market-item-check-btn d-flex align-item-center" type="checkbox" name="" id="">
                        </div>
                        <div class="col d-flex  align-items-center market-name-area">
                            <span class="market-name">{{ item.start }}</span>
                        </div>                        
                        <div class="reservation-info col-8 d-flex justify-content-end  align-items-center ">
                            <div class="">
                                예약정보 : {{ item.date }} {{ item.time }} 까지 수령예정
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <br>
                    <ul v-for="it in item.option" :key="it[1]">
                        <li class="d-flex flex-row row align-items-center">
                            <hr>
                            <div class="col-1 item-check-area d-flex justify-content-center  align-items-center ">
                                <input type="checkbox" name="" id="">
                            </div>
                            <div class="col-2 img-area">
                                <div class="real-img">
                                    <img class="item-img" src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" alt="">
                                </div>
                                <button class="btn btn-light change-btn">
                                    상품 변경/추가
                                </button>
                            </div>
                            <div class="cart-item d-flex flex-column col-9">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <div class="brand-name"><strong>테일러메이드</strong></div>
                                        <div class="main-name">{{ it[1] }}</div>
                                    </div>
                                     
                                    <button class="btn btn-secondary change-pick-btn align-items-center">퀵배송 번경</button>
                                    
                                    
                                </div>
                                <hr class="line">
                                <div class="d-flex justify-content-between align-items-center row">
                                    
                                    <div class="under-option col-4">
                                        상품 옵션
                                    </div>
                                    <div class="select-final-info d-flex flex-row row align-items-center justify-content-between col-8">
                                        <div class="col">
                                            {{ it[0] }}
                                        </div>
                                        <div class="col under-option ">
                                            {{ it[2] }}원
                                        </div>
                                        <div class="col">
                                            <button @click="delItem(item.uuid,it[1])" class="btn btn-danger del-btn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="">
                        <hr>
                        <div class="row d-flex">
                            <div class="col price-content d-flex flex-column justify-content-center">
                                <div>상품금액</div>
                                <div>{{ item.totalPrice }}원</div>
                            </div>
                            <div class="col price-content d-flex flex-column justify-content-center">
                                <div>할인금액</div>
                                <div>0원</div>
                            </div>
                            <div class="col price-content d-flex flex-column justify-content-center">
                                <div>배송비</div>
                                <div>{{ item.delcost }}원</div>
                            </div>
                            <div class="col price-content d-flex flex-column justify-content-center">
                                <div>주문금액</div>
                                <div>{{ item.totalPrice }}원</div>
                            </div>
                        </div>
                    </div>
                
                </div>
                <hr>
                <br>
                <div class="d-flex flex-row cart-btn-group">
                    <button class="cart-check-btn btn btn-light">전체선택</button>
                    <button class="cart-check-btn btn btn-light">선택상품삭제</button>
                    <button class="cart-check-btn btn btn-light">품절상품삭제</button>
                </div>
            </div>
            <div class="col-3 cart-scroll floatdiv">
                <div class="summary-order container" style="border : 2px solid black">
                    <div class="floatctt d-flex justify-content-center">
                        <h4>전체합계</h4>
                    </div>
                    
                    <hr>
                    <div class="d-flex justify-content-between floatctt">
                        <p class="summary-content" style="font-size:x-small">총 상품금액</p>
                        <p class="summary-content" style="font-size:x-small">0원</p>
                    </div>
                    <div class="d-flex justify-content-between floatctt">
                        <p class="summary-content" style="font-size:x-small">할인금액</p>
                        <p class="summary-content" style="font-size:x-small">0원</p>
                    </div>
                    <div class="d-flex justify-content-between floatctt">
                        <p class="summary-content" style="font-size:x-small">배송비</p>
                        <p class="summary-content" style="font-size:x-small">0 원</p>
                    </div>
                    <hr>
                    <div class="floatctt">
                        <p class="summary-content" style="font-size:x-small ">전체주문금액</p>
                    </div>
                    
                    <div class="floatctt d-flex justify-content-end">
                        <p>{{ finalPrice }} 원</p>
                    </div>
                </div>
                <div class="order-btn-area">
                    <button  type="button" class="btn btn-danger order-btn">주문하기</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import { mapActions } from 'vuex';
// import { db } from '../../main';
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
export default {
    name:'CartNormal',
    data() {
        return {
            Items : [],
            Option : {},
            EditTarget : {},
            final: {
                price:0,
                delcost:0
            }
        }
    },

    created() {
        // console.log(this.$fireDB)
        // console.log(db)
        this.$fireDB.collection('cart').onSnapshot((snapshotChange) => {
            
            snapshotChange.forEach((doc) => {                
                let sub = {
                    uuid : doc.id,
                    id: doc.data().id,
                    start: doc.data().start,
                    arrive: doc.data().arrive,
                    date: doc.data().date,
                    time: doc.data().time,
                    totalPrice: this.changeMoney(doc.data().totalPrice),
                    delcost : this.changeMoney(doc.data().delcost),
                    realPrice: doc.data().totalPrice,
                    realDelcost : doc.data().delcost
                    
                }
                this.final.price += sub.realPrice
                this.final.delcost += sub.realDelcost
               
                for(let i=0; i<doc.data().count.length; i++) {
                    let subList = [ doc.data().count[i], doc.data().name[i] , doc.data().price[i]]
                    subList[2] = this.changeMoney(subList[2])
                    this.Option[i] = subList
                }
                sub['option'] = this.Option
                this.Items.push(sub)
                


            });
        })
       console.log(this.final)
        
    },  
    methods: {
         
        delItem(uuid, name) {
            

            let EditIndex;
            let subItems = this.Items[0].option
            let IndexList = Object.keys(subItems)
            
            IndexList.map((x) => {       
                if(subItems[x][1] == name) {
                    EditIndex = parseInt(x)
                }
            })

           
            console.log(EditIndex)
       
            


            let targetItem = this.$fireDB.collection("cart").doc(uuid)

            

            targetItem.get().then((doc) => {
                this.EditTarget = doc.data()
                if (this.EditTarget.count.length <= 1) {
                        targetItem.delete().then(() => {
                            console.log("Document deleted!");
                            this.$router.go(this.$router.currentRoute)
                        })
                        .catch((error) => {
                            console.error(error);
                        })

                    
                } else {

                    this.EditTarget.totalPrice -= this.EditTarget.price[EditIndex]
                    this.EditTarget.name.splice(EditIndex,1)
                    this.EditTarget.count.splice(EditIndex,1)
                    this.EditTarget.price.splice(EditIndex,1)
                    targetItem.update(this.EditTarget).then(() => {
                         this.$router.go(this.$router.currentRoute)
                            })
                   
                    }
                 }
            )

            
        },
        changeMoney(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
    },
    computed: {
        // finalPrice: () => {
        //     this.changeMoney(this.final.price)
        // },
        // finalDelcost: () => {
        //     this.changeMoney(this.final.delcost)
        // }
    },
}

</script>

<style scoped>
    
    .container {
        padding: 0;
        
    }
    .floatctt {
        padding: 1vh;
        margin: 1vh;
    }
    .cart-main {
        
        margin-right: 4.5vh;
    }
    .cart-alert {
        padding: 3vh !important;
    }
    .icon-back {
        width: 10vh;
        height: 10vh;
        border: 1px solid navy !important;
        border-radius: 10vh;
        background-color: navy !important;      
    }
    .fa-shopping-bag {
        font-size:x-large;
        color : white;
    }
    .cart-summary-text {
        font-size:small;
        margin-top: 1vh;
        margin-bottom: 0;
    }
    .cart-summary {
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: 0;
    }


    .market-check-name {
        margin-left: 1vh;
    }
    .cart-item-image {
        width: 1vh !important;
        height: 1vh !important;
        border: 1px red;
        z-index: 10;
    }
    .cart-item-img-btn {
        width: 100% !important;
        font-size: xx-small;
    }
    .item-detail-info {
        width: 100%;
    }

    .verticalLine {
        border-left: solid whitesmoke;
        margin-right: 3vh;
    }
    .summary-order {
        border : 1px solid navy;
    }
    .summary-content {
        font-size: xx-small !important;
    }
    .market-name-area {
        padding: 0 !important;
    }
    .market-name {
        margin: 0;
        
        padding: 0 !important;
        font-size: small;
    }
 
    .order-btn {
        width: 100% !important;
    }
    .order-btn-area {
        margin-top: 10%;
    }
    .cart-check-btn {
        font-size: small;
        width: 15vh !important;
    }
    .img-area{
        padding: 0;
    }
    .change-btn {
        width: 80% !important;
        font-size: xx-small;
    }
    .brand-name {
        font-size: xx-small;
    }
    .main-name {
        font-size: xx-small;
    }
    .change-pick-btn {
        width: 15% !important;
        font-size: x-small;
        margin: 0;
    }
    .del-btn {
        width: 100% !important;
        font-size: x-small;  
        margin: 0;      
    }
    .item-check-area{
        padding: 0 !important;
    }
    .under-option {
        font-size: small;
    }
    .item-img {
        width: 80% !important;
        height: 80% !important;
    }
    ul {
        padding: 0 !important;
    }
  


</style>





 