<template>
  <div>
      여기에요 아저씨
  </div>
</template>

<script>
export default {
    name: 'Main',
    data() {
        return {

        }
    },
    methods: {

    }
}
</script>

<style>

</style>