<template>
  <div id="app">
    <div class="d-flex justify-content-around">
      <div class="left-banner">
        <img @click="goHome" src="@/assets/icon.jpg" alt="">

      </div>

      <div class="search d-flex flex-row-reverse" >
        <input class="search-input" type="text" style="">  

        <i class="fas fa-search search-btn" ></i>        
      </div>

      <div class="right-banner">
        <div  class="d-flex justify-content-end">
          <img  class="right-banner-img " src="@/assets/headbanner.jpg" alt="">
        </div>
        <ul class="nav justify-content-center">
          <!-- <li class="nav-item">
            <p @click="logout" class="nav-link x-small">로그아웃</p>
          </li>           -->
          <li class="nav-item">
            <p @click="pushLogin" class="nav-link x-small">
              로그인    
            </p>
          </li>
          <li class="nav-item">
            <p @click="pushSignup" class="nav-link x-small">
              회원가입            
            </p>
          </li>
          <li @click="pushMypage" class="nav-item">
            <p class="nav-link x-small">마이페이지</p>
          </li>
          <li class="nav-item">
            <p class="nav-link x-small">위시리스트</p>
          </li>          
        </ul>        
      </div>   
    </div>

    <ul class="nav nav-mid justify-content-center">
      <li class="nav-item">
        <p class="nav-link medium">
          <i class="fas fa-bars"></i>
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">전체카테고리</p>
      </li>
      <li class="nav-item">
        <p  @click="pushGolf" class="nav-link medium">
          <strong class="hover">골프클럽</strong>
        </p>
      </li>
      <li class="nav-item">
        <!-- <p class="nav-link medium">
          <router-link to="/firebase">FireBase</router-link>
        </p> -->
      </li>
      <li class="nav-item">
        <p class="nav-link medium">
          <strong>골프용품</strong>
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">
          <strong>골프웨어</strong>
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">
         <strong>중고클럽</strong>
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">
          기간한정특가
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">
          베스트
        </p>
      </li>     
      <li class="nav-item">
        <p class="nav-link medium">
          기획전
        </p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">이벤트/쿠폰</p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">브랜드존</p>
      </li>
      <li class="nav-item">
        <p class="nav-link medium">오프라인 매장</p>
      </li>       
      <li class="nav-item">
        <p class="nav-link medium cart-icon-area">
          <i @click="pushCart" class="fas fa-cart-arrow-down"></i>
        </p>
      </li>         
    </ul>
    <div class="d-flex-justify-content-center router-container">
        <router-view/>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</template>

<script>

import { mapMutations } from 'vuex';
import router from './router';

export default {
    name:'App',
    component : {
      
    },
    created() {

      const script = document.createElement('script');
      /* global kakao */
      script.onload = () => kakao.maps.load(this.initMap);
      script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services';
      document.head.appendChild(script);
        
    },    
    data() {
        return {

        }
    },
    methods : {
        ...mapMutations(['logout']),
        goHome() {
          
          router.push('/')
        },
        pushMypage() {
          router.push('/mypage')
        },
        pushGolf() {
          router.push('/golfclub')
        },
        pushCart() {
          router.push('/cart')
        },
        pushLogin() {
          router.push('/login')
        },
        pushSignup() {
          router.push('/signup')
        },


      }

    }

</script>

<style >
    .app {
        display: -webkit-flex;
        justify-content: center;     
    }
    html, body {
        margin: 0;
        padding: 0;
    }
    .right-banner-img {
      width: 80%;
    }
    .right-banner-font {
      font-size: xx-small;
    }
    .right_head {

        padding: 0;      
    }
    .left-banner {
        display: -webkit-flex;  
        align-items: center;
    }

    .search {
        display: -webkit-flex;
        flex-direction: row;   
        align-items: center;
        width: 60vh;
   
    }
    .search-input {
      width: 100%;
      height: 5vh;
      border-radius: 10px;
      
    }
    .search-btn {
      
      padding-right: 2vh;
      position:absolute;
    }
    .form-control {
      width: 100%;
    }
    .nav-mid {
      border:1px solid gainsboro;
    }
    .nav-link {
      margin: 0;
    }
    .medium {
      font-size:medium;
    }
    .x-small {
      font-size:x-small;
      margin: 0;
    }
    .cart-icon-area {
      margin-left: 6vh;
    }

    


    

</style>
