<template>
  <div id="app">
    <div id="map"></div>
    <div id="address" v-bind="test"></div>
    <button>반환</button>
  </div>
</template>

<script>
export default {
    data() {
      return {
        address:'제주특별자치도 제주시 첨단로 242',
        test:'',
      }
    },
    mounted() {
        if (window.kakao && window.kakao.maps) {
            this.initMap();
        } else {
            const script = document.createElement('script');
            /* global kakao */
            script.onload = () => kakao.maps.load(this.initMap);
            script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=b19f497140242875652a2cf566f734f0&libraries=services"';
            document.head.appendChild(script);
            
        }
    },
    methods: {
        initMap() {
            const container = document.getElementById('map');
            const options = {
              center: new kakao.maps.LatLng(33.450701, 126.570667),
              level: 3
            };

            const map = new kakao.maps.Map(container, options);
            console.log(kakao)
            map.setMapTypeId(kakao.maps.MapTypeId.HYBRID);
            
        },

    }
}
</script>

<style>
#map {
    width: 400px;
    height: 300px;
}
</style>