<template>
  <div class="container ">
      <br>
      <br>
      <h1 class="content-head d-flex justify-content-center"><strong>장바구니</strong></h1>
      <div class="d-flex justify-content-start category-route">
          <div @click="showBasic" class="router-title d-flex flex-row" :class="{ on : IsBasic }">
            <strong>일반상품</strong>
            <div class="d-flex justify-content-center align-items-center icon-back" style="margin-left:1vh; color:white; width: 3.5vh; height: 3.5vh; border: 1px solid navy ;border-radius: 10vh; background-color: navy">0</div>
          </div>  
          <div class="router-title">|</div>
          <div @click="showPick"  class="router-title d-flex flex-row" :class="{ on : IsPick }">
            <strong>픽업상품</strong>
            <div class="d-flex justify-content-center align-items-center icon-back" style="margin-left:1vh; color:white; width: 3.5vh; height: 3.5vh; border: 1px solid navy ;border-radius: 10vh; background-color: navy">0</div>
          </div> 
           <div class="router-title">|</div> 
          <div @click="showQuick"  class="router-title d-flex flex-row" :class="{ on : IsQuick }">
            <strong>퀵배송 상품</strong>
            <div :cntQuick="cntQuick" class="d-flex justify-content-center align-items-center icon-back" style="margin-left:1vh; color:white; width: 3.5vh; height: 3.5vh; border: 1px solid navy ;border-radius: 10vh; background-color: navy">{{ cntQuick }}</div>
          </div>
      </div>
      <br>
      <div class="components container">
          <div v-if="IsBasic" class="d-flex justify-content-center">
            <CartNormal />
          </div>
          <div v-if="IsPick" class="d-flex justify-content-center"> 
            <CartPick />
          </div>
          <div v-if="IsQuick" class="d-flex justify-content-center">
            <CartQuick />
          </div>
          
          
          
      </div>
  </div>
</template>

<script>

import CartNormal from './cart/CartNormal.vue'
import CartPick from './cart/CartPick.vue'
import CartQuick from './cart/CartQuick.vue'


export default {
    name:'Cart',
    components: {
        CartNormal,
        CartPick,
        CartQuick

    },

    data() {
        return {
          IsPick:false,
          IsQuick:false,
          IsBasic:true,
          cntQuick :0,
        }
    },
    methods: {  
      showBasic() {
        this.IsBasic = true
        this.IsQuick = false
        this.IsPick = false
      },
      showPick() {
        this.IsBasic = false
        this.IsQuick = false
        this.IsPick = true
      },
      showQuick() {
        this.IsBasic = false
        this.IsQuick = true
        this.IsPick = false
      }
    },
    created() {
          this.IsPick=false
          this.IsQuick=false
          this.IsBasic=true

        
        this.$fireDB.collection('cart').onSnapshot((snapshotChange) => {
            
            this.cntQuick = snapshotChange.docs.length
        })          
    },    
}
</script>

<style>
 .router-title{
   margin-left: 1vh;
   margin-right: 1vh;
 }
 .on {
   color: blue;
 }
</style>