<template>
  <div>
    <br>


    <div>
      <h1 class="d-flex justify-content-center"><strong>골프클럽</strong></h1>
      <br><br>
      <div class="container">
        <div class="row">
          <button type="button" class="col btn btn-light mid-button">전체</button>
          <button type="button" class="col btn btn-light mid-button">드라이버</button>
          <button type="button" class="col btn btn-light mid-button">우드</button>
          <button type="button" class="col btn btn-light mid-button">아이언</button>
          <button type="button" class="col btn btn-light mid-button">단품아이언</button>
        </div>
        <div class="row">
          <button type="button" class="col btn btn-light mid-button">웨지</button>
          <button type="button" class="col btn btn-light mid-button">퍼터</button>
          <button type="button" class="col btn btn-light mid-button">풀세트</button>
          <div class="col mid-button"></div>
          <div class="col mid-button"></div>
        </div>
      </div>      
    </div>

    <br>
    <br>
    <br>
    <br>

    <div>
      <ItemList />
    </div>


  </div>
</template>

<script>

import ItemList from '@/components/golfclub/ItemList.vue'

export default {
    name:'golfclub',
    data() {
        return {

        }
    },
    components : {
        ItemList
    },    
    methods: {
        
    }
}
</script>

<style>
  .nav-sub {
    padding-left: 25vh;
  }
  .nav-sub-wid {
    width: 20vh;
    margin-left: 1vh;
  }
  .nav-sub-line {
    border:1px solid gainsboro;
  }

  .btn {
    width: 30vh;
    border:1px solid gainsboro;
    font-weight: bold;
  }
  .mid-button {
    margin: 0;
    padding: 0;
  }
  ul{
   list-style:none;
   }

</style>