<template>
  <div class="home">
    <div class="d-flex justify-content-center">
      
      <b-carousel
        class="carousel-body"
        id="carousel-no-animation"
        style="text-shadow: 0px 0px 2px #000"
        indicators
        :interval="2300"
        
      >
        <b-carousel-slide
          img-src="https://postfiles.pstatic.net/MjAyMDExMTZfMjE0/MDAxNjA1NDkxODc5OTQy.OVK1iNGQ9p2nWgwhq_DCTFl35E4piI0pGcHeBrQTDNkg.UjMGhG_VOZKU3nzLkGPhoe1XWyRhJCD-_FIa9TxFjQog.JPEG.asdfg0237/ca2.JPG?type=w966"
        ></b-carousel-slide>
        <b-carousel-slide
          img-src="https://postfiles.pstatic.net/MjAyMDExMTZfMjc5/MDAxNjA1NDkxODc5OTQ1.519mmmo0Mv8L0YiHh6QwMzVpFwdWqgLkYRBaILAvuZEg.ZUdXaBe_MJGLP-OyfHzrPtQOPw7nWRj5JZEblOlhu9cg.JPEG.asdfg0237/ca3.JPG?type=w966"
        ></b-carousel-slide>
        <b-carousel-slide
          img-src="https://postfiles.pstatic.net/MjAyMDExMTZfMzgg/MDAxNjA1NDkxODc5OTU4.qOua8GMH2I6XhTGIKfYOCDCxTRKQxpxHrkDDt762Zoog.-F4_m3mXTEBlBEsM2Lt4707YW6oCi3O9v7C71sw22l4g.JPEG.asdfg0237/ca4.JPG?type=w966"
        ></b-carousel-slide>
        <b-carousel-slide
          img-src="https://postfiles.pstatic.net/MjAyMDExMTZfMTg4/MDAxNjA1NDkxODc5OTU1.pFtpykyY4ullZTFbn_LbEbQAEm7fMC6L9_K9ScdeoKsg.ixEKthrphQdRDQMNGlZ7mPLB9v51z2bFfTizflfT3LUg.JPEG.asdfg0237/ca1.JPG?type=w966"
        ></b-carousel-slide>
      </b-carousel>
    </div>
    

  </div>
</template>

<script>


export default {
  name: 'Home',
  data() {
    return {

    }
  },
  methods: {

  },
  components: {


  },
  
}
</script>

<style >
  .home {
    width: 100%;
  }
  .carousel-body {
    width: 200vh ;
    height: 100vh;
    margin:0;
    padding: 0;
    object-fit: cover;
  }
</style>