<template>
  <div class="container">
      <br>
      <div class="badge-area">
        <span class="badge badge-danger del-badge">퀵서비스</span>
        <span class="badge badge-primary del-badge">물류택배</span>
        <span class="badge badge-info del-badge">매장픽업</span>          
      </div>
      <br>
      <h6>테일러메이드</h6>

      <div class="d-flex justify-content-between">
          <div>
            <h3>테일러메이드 M6 남/여 드라이버 (FUBUKI)</h3>
          </div>
          <div>
              <button class="btn btn-secondary brand-go-btn">브랜드 바로가기</button>
          </div>
      </div>


      <div class="main-info row">
          <div class='image-container col-6'>
              <div class="item-image">
                  <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
              </div>
              <div class="item-carousel"></div>

              <div>
                  <div class="star"></div>
                  <div class="shart-sns"></div>
              </div>
              <br>
              <div class="banner"></div>
              <br>
          </div>

          <div class="detail-info col-6">
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">판매가</div>
                  <div class="info-name col-3">999,000원</div>
                  <div class="col-6"></div>
              </div>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">할인가</div>
                  <div class="info-name col-3">690,000원</div>
                  <div class="col-6"></div>
              </div>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">카드혜택</div>
                  <div class="info-name col">국민카드 7% 청구할인/최대 5만</div>
              </div>
              <hr>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">무이자할부</div>
                  <div class="info-name col">2~7개월 카드 무이자 할부지원</div>
              </div>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">적립 마일리지</div>
                  <div class="info-name col"><strong>798</strong>마일리지 적립</div>
              </div>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">상품코드</div>
                  <div class="info-name col">10000009999</div>
              </div>
              <div class="info d-flex flex-row row">
                  <div class="info-name col-3">제조사/원산지</div>
                  <div class="info-name col">테일러메이드/중국</div>
              </div>
              <hr>
              <div class="choice-delivery d-flex justify-content-between">
                  <div class="info-name align-self-center">배송방법</div>
                  <div class="choice-button d-flex justify-content-center">
                      <button @click="onDelivery" class="deliver-btn del-btn" :class="{prim:IsDelivery}">일반배송</button>
                      <button @click="onPickup" class="deliver-btn pick-btn" :class="{prim:IsPickup}">픽업</button>
                      <button @click="onQuick" class="deliver-btn quick-btn" :class="{prim:IsQuick}">퀵서비스</button>
                  </div>
              </div>
              <br>
              <div v-if="IsDelivery" class="delivery-info">
                <b-alert show variant="secondary">
                    <p class="delivery-info-head"><strong>기본배송</strong></p>
                    <p class="delivery-info-body">- 상품금액 합계 5만원 미만시 배송비 3,000원이 부과됩니다.</p>
                    <p class="delivery-info-body">- 도서/산간의 경우 추가 배송비가 발생할 수 있습니다.</p>
                </b-alert>
              </div>   
              <div v-if="IsPickup" class="delivery-info">
                <b-alert show variant="secondary">
                    <p class="delivery-info-head"><strong>골프존마켓 픽업 서비스</strong></p>
                    <p class="delivery-info-body">고객님께서 지정하신 매장에서 픽업하시는 서비스입니다.</p>
                    <p class="delivery-info-body">- 50,000원 이상 매장픽업 상품 선택 시 <strong>3,000원</strong> 추가할인이 자동 적용됩니다.(결제금액 5만원 이상 기준)</p>
                    <p class="delivery-info-body">- 매장재고 기준으로 주문이 가능하며 일반배송 상품과 재고가 상이할 수 있습니다.</p>
                </b-alert>
              </div>       
              <div v-if="IsQuick" class="delivery-info">
                <b-alert show variant="secondary">
                    <p class="delivery-info-head"><strong>골프존마켓 퀵 서비스</strong></p>
                    <p class="delivery-info-body">원하는 위치로 Barogo 퀵을 통해 배송하는 서비스입니다.</p>
                    <p class="delivery-info-body">- 주위에 매장이 없을 시 이용이 불가능합니다.</p>
                    <p class="delivery-info-body">- 거리에 따라 퀵 배송비용이 상이할 수 있습니다.</p>
                </b-alert>
              </div>                                    
              <hr>
              <div>
                  <button type="button" class="btn btn-primary re-load-btn">
                      <i class="far fa-envelope"></i>
                      <strong> 재입고 알림</strong>(품절된 상품의 재입고시 알림을 보내드립니다.)
                  </button>
              </div>
              <hr>
              <div class="option-select d-flex justify-content-between">
                  <span class="align-self-center">옵션선택</span>
                  <div class="">
                    <b-dropdown class="align-self-center item-dropdown" id="dropdown-left" text="선택하세요" variant="white">
                        <b-dropdown-item @click="onSelect" href="#">남성_Fubuki TM5_9 R</b-dropdown-item>
                        <b-dropdown-item @click="onSelect" href="#">남성_Fubuki TM5_9 SR</b-dropdown-item>
                        <b-dropdown-item @click="onSelect" href="#">남성_Fubuki TM5_9_S</b-dropdown-item>
                        <b-dropdown-item @click="onSelect" href="#" class="sold-out">[품절]남성_Fubuki TM5_10.5 R</b-dropdown-item>
                        <b-dropdown-item @click="onSelect" href="#" class="sold-out">[품절]남성_Fubuki TM5_10.5 SR</b-dropdown-item>
                        <b-dropdown-item @click="onSelect" href="#" class="sold-out">[품절]남성_Fubuki TM5_10.5_S</b-dropdown-item>   
                        <b-dropdown-item @click="onSelect" href="#">여성_Fubuki TM4_12 L</b-dropdown-item>                                         
                    </b-dropdown>                      
                  </div>
              </div>
           
              <br>
              <div class="select-list">
                  <ul class="selected-ul" v-for="select in selects" :key="select[3]">
                    <div class="alert alert-secondary alert-dismissible fade show sub_select" role="alert">
                        
                        <div class="d-flex justify-content-between">
                            <div class="selected-item-name"><strong>{{select[1]}}</strong></div>
                            <div class="close-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row">
                                <button @click="cntMinus(select[3])" class="select-cnt-btn d-flex justify-content-center align-self-center">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class=" btn-light select-cnt-btn d-flex justify-content-center align-self-center">
                                    <div class="item-cnt  align-self-center">
                                        <p class="cnt-text ">{{select[0]}}</p>
                                    </div> 
                                </button>
                                <button @click="cntPlus(select[3])" class="select-cnt-btn d-flex justify-content-center align-self-center">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="align-self-center"><h4>690,000원</h4> </div>
                        </div>

                    </div>
                  </ul>
              </div>
              
              <div class="price d-flex justify-content-between align-self-center">
                  
                  <span>총상품금액</span>
                  <div class="align-self-center">
                       <p class="total-price" :totalPriceString=totalPriceString>{{ totalPriceString }}원</p>
                  </div>    
                 
              </div>
                <br>
              <div  class="bottom-btn-list row">
                  <button @click="selectWish" class="btn btn-white col-3">
                      <i  v-if="!IsWish" class="far fa-heart"></i>
                      <i  v-if="IsWish" class="fas fa-heart"></i>
                      관심상품
                  </button>
                   <!-- @click="onPop" -->
                  <b-button @mouseover="ToFalseSell" @click="showModal"  id="popover-button-disable-event" class="btn btn-secondary col-3 d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                          <i style="margin-left:1.5vh; margin-top:0.5vh;"  @click="retryAddress"  class="fas fa-cart-arrow-down"></i>
                      </div>
                      
                      <div style="margin-right:1.5vh;" @click="retryAddress">장바구니</div>   
                  </b-button>
                  <b-button @mouseover="ToTrueSell" @click="showModal" id="show-btn" class="btn btn-danger col-6"><div @click="retryAddress">바로구매</div></b-button>
                    <div class="kk modal-body d-flex justify-content-center">
                        <b-modal class="modal-body"  ref="my-modal" hide-footer title="퀵서비스 매장 찾기">
                            <div v-if="EndAddress" class="address-logic">
                                <div class="d-flex flex-row align-items-center">
                                    <p class="my-4"><strong>현재 위치 조회</strong></p>                                                    
                                    <b-button class="gps-btn" @click='geofind'>
                                        <i  @click="onWrapMap" class="fas fa-map-marker-alt"></i>
                                    </b-button>                   
                                </div>
                                <div v-if="IsNow" class="now-address-btn-group">
                                    <p>지도상의 주소가 맞으신가요?</p>
                                    <p :now_location="now_location">{{ now_location }}</p>
                                    <button class="btn btn-danger" @click="autoAddress">주소 자동입력하기</button>
                                </div>
                                <div class="gps-now-address"></div>


                                <div>
                                    <p>주소검색하기</p>
                                    <b-input-group size="lg">
                                        <b-form-input @keypress="onWrapMap" @keypress.enter="searchAdd" v-model="address_first" type="text"  id="keyword" class="address_first_input"></b-form-input>                        
                                    </b-input-group>
                                </div>

                                <div>
                                    <p>상세주소 입력하기</p>
                                    <b-input-group size="lg">
                                        <b-form-input @keypress.enter="addressSave" v-model="address_second"></b-form-input>
                                    </b-input-group>

                                    
                                </div>   
                                <br>
                                <b-button @click="addressSave" class="address-btn">주소저장하기</b-button>                       
                                <div class="map_wrap">
                                    <div  id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
<!--                                     
                                    <div id="menu_wrap" class="bg_white">
                                        <ul id="placesList"></ul>
                                        <div id="pagination"></div>
                                    </div> -->
                                </div>
                            </div>
                            <div v-if="EndUnMarket" class="unmarket-logic d-flex justify-content-center align-self-center">
                                <div class="d-flex flex-column justify-content-center align-self-center unmarket-area">
                                    <div class="d-flex justify-content-center">
                                         <p>고객님 주변에</p>
                                    </div>
                                   
                                    <p>퀵 서비스가 가능한 매장이 없습니다</p>
                                    <div class="d-flex flex-row justify-content-center ">
                                        <i style="padding-top:1.2vh; margin-right:1vh;" class="fas fa-truck"></i>                                            
                                        <p>일반 배송을 이용해주세요</p>
                                    </div>
                                </div>
                            </div>
                            <div v-if="EndMarket" class="market-logic">

                                <div class="d-flex justify-content-center">
                                    <p style="font-size: small;"><strong>{{ address_first }}</strong>의 위치와 가까운 지점 순으로 결과를 내었습니다</p>
                                </div>
                                <div id="map" style="width:100%;height:350px;"></div>

                                <ul class="address-select-list list-scroll-box">
                                    <li v-for="item in marketArray" :key="item.id">
                                        <div v-if="item.distance < 5">
                                            <br>
                                            <div class="d-flex flex-row justify-content-center align-self-center">
                                                <input  @click="selectMarket"  class="radio-btn" type="radio">
                                                <b-alert show class="address-alert">
                                                    <div class="align-self-center address-search-result">
                                                        <p class="address-ptag">
                                                            <strong>{{ item.name }}</strong>
                                                        </p>
                                                        <p class="address-ptag">{{ item.address }}</p>
                                                        <div class="price-ptag"> {{ item.price }} 원  ({{ item.distance }} km)</div>
                                                    </div>                                             
                                                </b-alert>

                                            </div>
                                        </div>

                                    </li>
                                </ul>
                                <div class="final-select-button d-flex justify-content-center">
                                    <button class="btn btn-light">닫기</button>
                                    <button @click="finalInfo" class="btn btn-dark">확인</button>
                                </div>



                            </div>


                            <div v-if="EndTime" class="time-component">
                                <div class="d-flex justify-content-center">
                                    <h2>퀵 서비스 수령 시간</h2>
                                </div>
                                <p class="del-pit" :start='start'><strong>매장명</strong> : {{start}}</p>
                                <p class="del-pit" :arrive='arrive'><strong>수령지</strong>  : {{arrive}}</p>
                                <p class="del-pit" :deliveryCost='deliveryCost'><strong>퀵비용</strong>  : {{deliveryCost}} 원</p>
                                <p :finalitem="finalitem"><strong>수령 상품</strong></p>
                                <ul class="final-list-area" v-for="select in selects" :key="select[3]">
                                    <div class="alert alert-primary" role="alert">
                                        <li> <strong>상품명</strong> : {{ select[1] }}</li>
                                        <li> <strong>수량</strong> : {{ select[0] }}</li>
                                        <li> <strong>가격</strong> : {{ select[2] }}</li>  
                                    </div>                                    
                                </ul>
                                <p class="date-title"><strong>수령 날짜/시간</strong></p>
                                <div class="d-flex flex-column ">
                                    <div class="d-flex flex-column">                                        
                                        <v-date-picker class="inline-block h-full" v-model="date">
                                            <template v-slot="{ inputValue, togglePopover }">
                                            <div class="">
                                                <button
                                                class="cal-btn p-2 bg-blue-100 border border-blue-200 hover:bg-blue-200 text-blue-600 rounded-l focus:bg-blue-500 focus:text-white focus:border-blue-500 focus:outline-none"
                                                @click="togglePopover({ placement: 'auto-start' })"
                                                >
                                                
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20"
                                                    class="w-1 h-1 fill-current"
                                                >
                                                    <path
                                                    d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"
                                                    ></path>
                                                </svg>
                                                </button>
                                                <input
                                                :value="inputValue"
                                                class="cal-it bg-white text-gray-700 w-full py-1 px-2 appearance-none border rounded-r focus:outline-none focus:border-blue-500"
                                                readonly
                                                />
                                            </div>
                                            </template>
                                        </v-date-picker>
                                        <div class="d-flex flex-row">
                                            <button
                                            class="cal-btn2 p-2 bg-blue-100 border border-blue-200 hover:bg-blue-200 text-blue-600 rounded-l focus:bg-blue-500 focus:text-white focus:border-blue-500 focus:outline-none">
                                            <i class="fas fa-clock"></i>
                                            </button>                                          
                                            <vue-timepicker class="time-pick" input-width="16vh"  v-model="timeValueWithSec" format="hh:mm A"></vue-timepicker>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <button v-if="IsSell" style="width:100%;" @click="finalConfirm" class="btn btn-danger">퀵 바로 배송하기</button>
                                        <button v-else style="width:100%;" @click="loadCart" class="btn btn-danger">장바구니에 담기</button>
                                    </div>
                                    
                               </div>


                                                                                                 




                            </div>


                        </b-modal>
                    </div>


                    <b-popover v-if="IsPopover" target="popover-button-disable-event">
                        <div class="d-flex flex-row-reverse">
                            <div  @click="closePop">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                       
                        <div class="container">
                            <div class="container">
                                 <div class="cart-ment">
                                    <strong>장바니구에 상품을 담았습니다.</strong>                                    
                                 </div>
                                 <br>
                                 <br>

                                 <div class="d-flex justify-content-center cart-area">
                                     <div  class="cart-icon d-flex justify-content-center align-items-center">
                                        
                                        <i class="fas fa-cart-arrow-down"></i>
                                        
                                     </div>                                     
                                 </div>

                                 <br>
                                 <br>                                 
                                
                            </div>
                            <div class="row">
                                <button @click="closePop" class="col btn btn-light">계속 쇼핑</button>
                                <button @click="goCart" class="col btn btn-dark">장바구니로</button>                                
                            </div>

                        </div>
                    </b-popover>                  
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  </div>
</template>
<script async type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services"></script>
<script>
import { directivesPlugin } from 'bootstrap-vue';
import 'vue2-timepicker/dist/VueTimepicker.css'
import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import { mapState } from 'vuex';


export default {
    name:'itemDetail',

    computed : {
    ...mapState([
      'markets'
    ]),

    


    },
    components: {
        // ModalSearch,
        // ModalNow
        VueTimepicker         
    },
    created() {

    },
    data() {
        return {

           test : {
                name1 : {
                    id:1,
                    sex : 'M'
                },
                name2 : {
                    id:2,
                    sex : 'W'
                },
                name3 : {
                    id:3,
                    sex : 'M'
                }                                
            },

            selectmall:'',
            select_id:0,
            selects : [],

            marketArray : null,
            price: 690000, 
            
            IsSell:true,
            IsNowLogic: false,
            IsWish:false,
            IsNow:false,
            IsMap:false,
            IsPopover:false,
            IsDelivery: true,
            IsPickup:false,
            IsQuick:false,
            EndAddress:true,
            EndMarket:false,
            EndTime:false,
            EndUnMarket : false,
            

            IsSelectStart:false,
            now_location:'',
            latitude: 0,
            longitude: 0,
            textContent: '',   
            address:'',
            address_first:null,
            address_second:null,
            Lis:[],    
            con_lat:0,
            con_lon:0,
            totalPrice:0,
            totalPriceString:'0',            
            start:'',
            arrive:'',
            finalitem:'',

            filterAddress:'',
            deliveryCost:0,
            value: '',
            context: null,
            date: new Date(),
            timeValueWithSec: {
            hh: '12',
            mm: '00',
            A: 'PM'
            },  
            
            finalList : {},
            DbCart : {}

        }
    },
     
    methods: {
        
        onDelivery() {
            this.IsDelivery = true
            this.IsPickup = false
            this.IsQuick = false
            this.selects = []
            this.totalPriceString = 0
            this.totalPrice = 0


            
        },
        onPickup() {
            this.IsDelivery = false
            this.IsPickup = true
            this.IsQuick = false
            this.selects = []
            this.totalPrice = 0
            this.totalPriceString = 0

                     
        },
        onQuick() {
            this.IsDelivery = false
            this.IsPickup = false
            this.IsQuick = true
            this.selects = []
            this.totalPrice = 0
            this.totalPriceString = 0
          
        },
        onSelect(event) {

            if(!this.IsSelectStart) {
                this.IsSelectStart = true
                this.totalPriceString = '690,000'
            }

            let itemname = event.target.innerHTML            
            let selectList = this.selects
            let Incnt = 0
            
            selectList.map((item) => {
                if (itemname == item[1]) {
                    Incnt += 1
                   
                }
            })
            


            if (Incnt) {
                alert('이미 추가하신 상품입니다.')

            } else if(!itemname.indexOf('[품절]')) {
                alert('해당 상품은 품절입니다.')
            } else {
                
                const subselect = []
                let id = ++this.select_id
                subselect.push(1)
                subselect.push(itemname)
                subselect.push(this.price) 
                subselect.push(id)
                this.selects.push(subselect)  
                this.totalPrice += this.price    

            }

            this.totalPriceString = this.changeMoney(this.totalPriceString.toString())
    
        },
        onPop() {
            this.IsPopover = true
            this.$cookies.set('cart-item',this.selects,1)

        },
        closePop() {
            this.IsPopover = false
        },
        createMap() {
            
            var geocoder = new kakao.maps.services.Geocoder();
            var coord = new kakao.maps.LatLng(this.latitude, this.longitude);
            var address = ''
            let callback = function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    // console.log(result[0].address.address_name);
                    address = result[0].address.address_name
                    
                }
            };

            
            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback)
            
            var geocoder = new kakao.maps.services.Geocoder();

            
                    

                    
        },          
        geofind() {

                    this.IsNow = true
                    //https://apis.map.kakao.com/web/sample/coord2addr/  => api불러오기
                    if(!("geolocation" in navigator)) {
                    this.textContent = 'Geolocation is not available.';
                    return;
                    }
                    this.textContent = 'Locating...'
                    
                    // get position
                    navigator.geolocation.getCurrentPosition(pos => {
                    this.latitude = pos.coords.latitude;
                    this.longitude = pos.coords.longitude;
                    this.textContent = this.latitude + ', ' + this.longitude
                    
                    }, err => {
                    this.textContent = err.message;
                    })


                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = { 
                            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                            level: 4 // 지도의 확대 레벨 
                        }; 

                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다




                    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
                    if (navigator.geolocation) {
                        
                        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                        navigator.geolocation.getCurrentPosition(function(position) {
                                                        
                            var lat = position.coords.latitude, // 위도
                                lon = position.coords.longitude; // 경도

                            //좌표를 여기서 얻어서 주소를 얻을 수 있어야함
                            // console.log(lat,lon)
                            var geocoder = new kakao.maps.services.Geocoder();
                            var callback = function(result, status) {
                                if (status === kakao.maps.services.Status.OK) {
                                    
                                    // console.log(result)
                                    let textTarget = document.getElementsByClassName('gps-now-address')
                                    textTarget.innerText = result[0].address.address_name
                                    
                                    
                                }
                            };

                            geocoder.coord2Address(lon, lat, callback);                            
                            
                            
                            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                                message = ` <br><div  style=padding:1vh;"> ${document.getElementsByClassName('gps-now-address').innerText}</div>`; // 인포윈도우에 표시될 내용입니다
                            
                            // 마커와 인포윈도우를 표시합니다
                            displayMarker(locPosition, message);
                                
                        });
                        this.now_location = document.getElementsByClassName('gps-now-address').innerText
           


                    


                        

                    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                        
                        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
                            message = 'geolocation을 사용할수 없어요..'
                            
                        displayMarker(locPosition, message);
                    }

                    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
                    function displayMarker(locPosition, message) {

                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({  
                            map: map, 
                            position: locPosition
                        }); 
                        
                        var iwContent = message, // 인포윈도우에 표시할 내용
                            iwRemoveable = true;

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content : iwContent,
                            removable : iwRemoveable
                        });
                        
                        // 인포윈도우를 마커위에 표시합니다 
                        infowindow.open(map, marker);
                        
                        // 지도 중심좌표를 접속위치로 변경합니다
                        map.setCenter(locPosition);      
                    }                        

        },
        autoAddress() {
            this.IsNowLogic = true
            this.IsNow = false
            this.address_first = this.now_location 
            this.searchAdd()
        },
        showModal() {
            if(this.IsQuick) {
                if(this.selects.length !== 0) {
                    this.$refs['my-modal'].show()
                    this.EndMarket = false
                    this.EndUnMarket = false
                }

            const script = document.createElement('script');
            /* global kakao */
            script.onload = () => kakao.maps.load(this.initMap);
            script.src = 'http://dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services';
            document.head.appendChild(script);            
            }            
           
        },
        hideModal() {
            this.$refs['my-modal'].hide()
            this.EndTime = false
            this.EndMarket = false
            this.EndUnMarket = false
            
        },
        toggleModal() {
        // We pass the ID of the button that we want to return focus to
        // when the modal has hidden
            this.$refs['my-modal'].toggle('#toggle-btn')
            this.EndMarket = false
            this.EndUnMarket = false
        },
        onWrapMap(){
            this.IsNowLogic = false
            this.IsMap = true
        },
        searchAdd() {
            
            if (this.address_first == null || this.address_first == '') {
                alert('주소를 입력해주세요')
            }

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  

            // 지도를 생성합니다    
            var map = new kakao.maps.Map(mapContainer, mapOption); 

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();




            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(this.address_first, function(result, status) {

                // 정상적으로 검색이 완료됐으면 
                if (status === kakao.maps.services.Status.OK) {
                    // this.lat = result[0]['address']['y']
                    // this.lon = result[0]['address']['x']
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    
                    // <p class='map-ment'>해당 위치가 맞으시면 상세주소를 적어주세요</p>
                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: `<div class="address-point $${result[0]['address']['y']}$${result[0]['address']['x']}" style="width:150px;text-align:center;padding:6px 0;">
                        ${result[0]['address']['address_name']}
                        <div class="info-tag">
                        <br>
                        <p class='now-point-lat ${result[0]['address']['y']}' style="margin:0;"></p>
                        <p class='now-point-lon ${result[0]['address']['x']}' style="margin:0;"></p>
                        <p id='target-address' class='now-point-address splitpoint ${result[0]['address']['address_name']}' style="margin:0;"></p>
                        
                        </div>
                        </div>`
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);


                } 
            });
           


           
                     
        },
        retryAddress() {

            this.EndAddress = true
            this.address = null
            this.address_first = null
            this.address_second = null
          
        },
        addressSave() {
            
            // this.filterAddress = $('.now-point-address').attr('class')
            // let removeclass = $('.now-point-address').attr('class').split('splitpoint ')[1]
            
            // console.log(this.filterAddress)
            // if(this.filterAddress.indexOf('제주') !== -1 || this.filterAddress.indexOf('강원') !== -1  ) {
            //     alert('퀵서비스가 가능한 지역이 아닙니다')
            //     $('.now-point-address').remove();
            //     var $p = $(`<p class='now-point-address'></p>`);
            //     $('.info-tag').append($p);
            //     console.log($('.now-point-address').attr('class'))
            // } else {

            
            
            this.EndTime = false
            // 여기서 거리 측정까지 다 해버리기

            
            let pointText = $('.address-point').attr('class').split('$')
            this.filterAddress = $('.now-point-address').attr('class')
            

            let con_lat = parseFloat(pointText[1])
            let con_lon = parseFloat(pointText[2])
            
            this.$cookies.set('con_lat',con_lat)
            this.$cookies.set('con_lon',con_lon)
            
            
            

            if (this.address_first != null || this.address_second != null || this.address_first !== '' || this.address_second !== '') {



                this.address = this.address_first + ', ' + this.address_second
                this.EndAddress = false,
                this.EndMarket = true


                let marketList = this.markets
                
 
                function deg2rad(deg) {
                return deg * (Math.PI/180)
                }

                function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2-lat1);  // deg2rad below
                var dLon = deg2rad(lon2-lon1); 
                var a = 
                    Math.sin(dLat/2) * Math.sin(dLat/2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
                    Math.sin(dLon/2) * Math.sin(dLon/2)
                    ; 
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
                var d = R * c; // Distance in km
                return d;
                }                
                
                const sortList = []

                this.markets.map((todo) => {

                    todo[5] = getDistanceFromLatLonInKm(con_lat,con_lon,todo[2],todo[3]).toFixed(2)
                    if (todo[5] > 5 ) {
                        console.log('매장멀다')
                    } else {
                        let dummyObject = {}
                        dummyObject.id = todo[0]
                        dummyObject.name = todo[1]
                        dummyObject.lat = todo[2]
                        dummyObject.lon = todo[3]
                        dummyObject.address = todo[4]
                        dummyObject.distance = todo[5]
                        if (todo[5] * 750 < 3000) {
                            dummyObject.price = 3000
                        } else {
                            dummyObject.price = parseInt(todo[5] * 750)
                        }
                        
                        
                        sortList.push(dummyObject)
                    }

                
                })
                
                sortList.sort(function (a, b) {
                    return a.distance < b.distance ? -1 : a.distance > b.distance ? 1 : 0;  
                });
                
                this.marketArray = sortList
                
                if (sortList.length == 0) {
                    this.EndMarket = false
                    this.EndUnMarket = true
                    setTimeout(() => {
                        location.reload()
                    }, 3000);
                }


                
            } else {
                alert('주소를 입력해주세요')
            }
        // }
            
        },
        changeMoney(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        cntPlus(itemid) {
            
            let selectList = this.selects
            selectList.map((item) => {
                if (itemid == item[3]) {
                    item[0] += 1
                    this.totalPrice += item[2] 
                    this.totalPriceString = this.changeMoney(this.totalPrice)
                }
            })


        },
        cntMinus(itemid) {
            
            let selectList = this.selects
            selectList.map((item) => {
                if (itemid == item[3]) {
                    if (item[0] >= 2) {
                        item[0] -= 1
                        this.totalPrice -= item[2] 
                        this.totalPriceString = this.changeMoney(this.totalPrice)
                    } else {

                    }

                }
            })          
        },
        selectMarket(event) {

            
            let radioList = document.getElementsByClassName('radio-btn')
            
            for (let i; i < radioList.length; i++) {
                document.getElementsByClassName('radio-btn')[i].checked = false
            }

            event.target.checked = true


            let selectMarket = event.target.nextSibling.innerText.split('\n')[0]
            this.selectmall = selectMarket

            this.deliveryCost = parseInt(event.target.nextSibling.innerText.split('\n')[4].split(' 원')[0])
            
            let marketList = this.markets
            
            //매장 위치
            let selectLat;
            let selectLon;


            //고객 위치
            let con_lat = parseFloat(this.$cookies.get('con_lat'))
            let con_lon = parseFloat(this.$cookies.get('con_lon'))

            
            marketList.map((market) => {
                if (market[1] == selectMarket) {
                    selectLat = parseFloat(market[2])
                    selectLon = parseFloat(market[3])
                }
            })


            let centerLat = (selectLat+con_lat)/2
            let centerLon = (selectLon+con_lon)/2

            
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
                mapOption = { 
                    center: new kakao.maps.LatLng( centerLat, centerLon), // 지도의 중심좌표
                    level: 8 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            
            // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
            var positions = [
                {
                    content: `<div>${selectMarket}</div>`, 
                    latlng: new kakao.maps.LatLng(selectLat, selectLon)
                },
                {
                    content: '<div>고객님 위치입니다</div>', 
                    latlng: new kakao.maps.LatLng(con_lat, con_lon)
                },
            ];

            for (var i = 0; i < positions.length; i ++) {
                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng // 마커의 위치
                });

                // 마커에 표시할 인포윈도우를 생성합니다 
                var infowindow = new kakao.maps.InfoWindow({
                    content: positions[i].content // 인포윈도우에 표시할 내용
                });

                // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            }

            // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
            function makeOverListener(map, marker, infowindow) {
                return function() {
                    infowindow.open(map, marker);
                };
            }

            // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
            function makeOutListener(infowindow) {
                return function() {
                    infowindow.close();
                };
            }            
            

        },
        finalInfo() {

            this.selects
            
            this.$cookies.set('start',this.selectmall)
            this.start = this.selectmall
            this.$cookies.set('arrive', this.address)
            this.arrive = this.address
            this.$cookies.set('order',this.selects)
            this.finalitem = this.selects
            this.EndMarket = false
            this.EndUnMarket = false
            this.EndTime = true




        },
        onContext(ctx) {
            this.context = ctx
        },        
        selectTime() {
        
        },
        selectWish() {
            this.IsWish = !this.IsWish
        },
        finalConfirm() {
        

            
            this.finalList.id = 1
            this.finalList.start = this.start
            this.finalList.name = []
            this.finalList.count = []
            this.finalList.price = []
            this.finalList.arrive = this.arrive
            this.finalList.delcost = this.deliveryCost
            this.finalList.totalPrice = 0
            this.finalList.level = 0
            this.finalList.type = 'quick'
            this.selects.map((x) => {
                
                this.finalList.name.push(x[1])
                this.finalList.count.push(x[0])
                this.finalList.price.push(x[0]*x[2])
                this.finalList.totalPrice += x[0]*x[2]
            })

            
            this.finalList.time = this.timeValueWithSec.A + ' ' + this.timeValueWithSec.hh+':'+ this.timeValueWithSec.mm

            let MonthDay = JSON.stringify(this.date).split('-')
            let Year = MonthDay[0] + '년 '
            let Month = MonthDay[1] + '월 '
            let Day = MonthDay[2][0]+MonthDay[2][1] + '일 '
          
            this.finalList.date = Year + Month + Day 

            console.log(this.finalList)
            this.$fireDB.collection('order').add(this.finalList).then(() => {
                alert('성공적으로 주문이 완료되었습니다')
                this.$router.push('/mypage')
            }).catch((err) => {
                console.log(err)
            })
           
            
        },
        loadCart() {
            this.finalList.id = 1
            this.finalList.start = this.start
            this.finalList.name = []
            this.finalList.count = []
            this.finalList.price = []
            this.finalList.arrive = this.arrive
            this.finalList.delcost = this.deliveryCost
            this.finalList.totalPrice = 0
            this.finalList.level = 0
            this.finalList.type = 'quick'
            this.selects.map((x) => {
                
                this.finalList.name.push(x[1])
                this.finalList.count.push(x[0])
                this.finalList.price.push(x[0]*x[2])
                this.finalList.totalPrice += x[0]*x[2]
            })

            
            this.finalList.time = this.timeValueWithSec.A + ' ' + this.timeValueWithSec.hh+':'+ this.timeValueWithSec.mm

            let MonthDay = JSON.stringify(this.date).split('-')
            let Year = MonthDay[0] + '년 '
            let Month = MonthDay[1] + '월 '
            let Day = MonthDay[2][0]+MonthDay[2][1] + '일 '
          
            this.finalList.date = Year + Month + Day 

            console.log(this.finalList)
            this.$fireDB.collection('cart').add(this.finalList).then(() => {
                this.goCart()
                
            }).catch((err) => {
                console.log(err)
            })

            
        },
        goCart() {
            this.$router.push('/cart')
        },
        ToTrueSell() {
            this.IsSell = true
        },
        ToFalseSell() {
            this.IsSell = false
        }
                                                         
    },   
}
</script>

<style scoped>
    
    .badge-area {
        padding-left: 0vh !important;
        
        
    }
    .brand-go-btn {
        width: 10vh;
    }
    .deliver-btn {
        width: 15vh;
        height: 7vh;
        border-radius: 8%;
        border: 0;
        outline: 0;
        font-size: small;
        font-weight: bolder;
    }
    .info {
        margin-bottom: 1vh;
    }
    .info-name {
        margin: 0;
        margin-right: 10vh;
        font-size: small;
    }
    .delivery-info-head {
        font-size: small;
        margin-top: 1vh;
    }
    .delivery-info-body {
        margin-top: 1vh;
        font-size: smaller;
    }
    .item-dropdown {
        width: 50vh;
    }

    .fa-heart {
        color: red;
    }
    .re-load-btn {
        width: 100% !important;
    }
    .prim {
        background-color: blue;
        border: 0;
        outline: 0;
        color: white;
    }
    .gps-btn {
        margin: 0;
        padding: 0;
        height: 4vh;
        width: 4vh !important;
    }
    .address-btn {
        width: 100% !important;
    }
    .cart-ment {
        font-size: small;
    }

    .cart-icon {
        font-size: x-large;
        color: white;
        background-color: dodgerblue;
        width:100px;
        height:100px;
        border-radius: 50px;      
    }
    .modal {
        width: 300% !important;
    }
    li {
         list-style:none;
         height: 25h;
    }
    .address-select-list {
        background-color: whitesmoke;
        
    }
    .address-select-list {
        color: white;
        padding: 0;
    }

    .now-point-lat {
        opacity: 0;
    }
    .now-point-lon {
        opacity: 0;
    }    
    .selected-ul {
        margin: 0;
        padding: 0;
    }
    .sub_select {
        margin: 0;
        padding: 2vh;
    }
    .select-cnt-btn {
        width: 1vh;
        height: 1vh;
        
        font-size: x-small;
    }
    .item-cnt {
        font-size: medium;
    }
    .total-price {
        margin: 0;
    }
    .cnt-text {
        font-size: medium;
        margin: 0;
    }
    .radio-area {
        margin-right: 3vh;
    }
    .radio-btn {
        width: 2.5vh;
        height: 2.5vh;
        margin-top: 8vh;
        margin-right: 3vh;
    }
    .radio-body {
        width: 3vh;
        height: 3vh;
        margin-top: 6vh;
        margin-right: 3vh;
        border: 11px black !important;
    }
    .address-ptag {
        margin: 0;
        font-size: medium;
        color: black;
    }
    .price-ptage {
        margin-top: 0 !important;
        color: red !important; 
        font-size: medium;
       
    }
    .address-search-result {
        border: black !important;
    }
    .address-alert {
        width: 85%;
    }
    .market-name-btn {
        width: 30% !important;
        font-size: small;
    }
    .list-scroll-box {
        overflow:scroll;
        height:35vh;
        line-height:3em;
        overflow:scroll;
        
    }
    .fill-current {
        width: 2.5vh !important;
        height: 2.5vh !important;
        margin: 0 !important;
    }
    .cal-btn {
        width: 4.2vh !important;
        height: 5.2vh !important;  
        background-color: white;     
        margin: 0 !important;
        padding: 0 !important;
    }
    .cal-btn2 {
        width: 4.2vh !important;
        height: 5vh !important;  
        background-color: white;     
        margin: 0 !important;
        padding: 0 !important;
    }    
    .cal-it {
        width: 16vh;
        height: 5vh;
    }
    /* .char {
        width: 0 !important;
        height: 0 !important;          
        opacity: 0 !important;
        margin: 0 !important;
    } */
    .time-pick {
        width: 10vh;
        margin-top: 0;
        
    }
    .pick-input{
        width: 9vh;
    }
    .date-title {
        margin-top: 4vh;
        margin-bottom: 0;
    }
    .del-pit {
        margin-top: 3vh;
    }
    .final-list-area {
        margin: 0 !important;
        padding: 0;
    }
    .brand-go-btn {
        width: 100%;
    }
    .unmarket-logic {
        width: 100%;
    }
    .unmarket-area {
        
        background-color:gainsboro;
    }

        
    

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
    .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
    .map_wrap {position:relative;width:100%;height:500px;}
    #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
    .bg_white {background:#fff;}
    #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
    #menu_wrap .option{text-align: center;}
    #menu_wrap .option p {margin:10px 0;}  
    #menu_wrap .option button {margin-left:5px;}
    #placesList li {list-style: none;}
    #placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
    #placesList .item span {display: block;margin-top:4px;}
    #placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    #placesList .item .info{padding:10px 0 10px 55px;}
    #placesList .info .gray {color:#8a8a8a;}
    #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
    #placesList .info .tel {color:#009900;}
    #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
    #placesList .item .marker_1 {background-position: 0 -10px;}
    #placesList .item .marker_2 {background-position: 0 -56px;}
    #placesList .item .marker_3 {background-position: 0 -102px}
    #placesList .item .marker_4 {background-position: 0 -148px;}
    #placesList .item .marker_5 {background-position: 0 -194px;}
    #placesList .item .marker_6 {background-position: 0 -240px;}
    #placesList .item .marker_7 {background-position: 0 -286px;}
    #placesList .item .marker_8 {background-position: 0 -332px;}
    #placesList .item .marker_9 {background-position: 0 -378px;}
    #placesList .item .marker_10 {background-position: 0 -423px;}
    #placesList .item .marker_11 {background-position: 0 -470px;}
    #placesList .item .marker_12 {background-position: 0 -516px;}
    #placesList .item .marker_13 {background-position: 0 -562px;}
    #placesList .item .marker_14 {background-position: 0 -608px;}
    #placesList .item .marker_15 {background-position: 0 -654px;}
    #pagination {margin:10px auto;text-align: center;}
    #pagination a {display:inline-block;margin-right:10px;}
    #pagination .on {font-weight: bold; cursor: default;color:#777;}    
</style>