<template>
  <div>
      <label for="">키워드</label>
      <input @keypress.enter="Search()" v-model="keyword" type="text">
      <button @click="Search()">검색하기</button>

      <div class="address_list">

      </div>
  </div>
</template>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services"></script>
<script>
export default {
    name:'KeyTest',
    data() {
        return {
            keyword:'',
        }
    },
    methods: {
        Search() {
            var ps = new kakao.maps.services.Places(); 

            // function removeAllChildNods(el) {   
            //     while (el.hasChildNodes()) {
            //         el.removeChild (el.lastChild);
            //     }
            // }            
            function getListItem(index, places) {

                var el = document.createElement('li'),
                itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                            '<div class="info">' +
                            '   <h5>' + places.place_name + '</h5>';

                if (places.road_address_name) {
                    itemStr += '    <span>' + places.road_address_name + '</span>' +
                                '   <span class="jibun gray">' +  places.address_name  + '</span>';
                } else {
                    itemStr += '    <span>' +  places.address_name  + '</span>'; 
                }
                            
                itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                            '</div>';           

                el.innerHTML = itemStr;
                el.className = 'item';

                return el;
            }

            function displayPlaces(places) {

                            var listEl = document.getElementById('address_list'), 
                            listStr = '';
                            
                            // 검색 결과 목록에 추가된 항목들을 제거합니다
                            // removeAllChildNods(listEl);

                            for ( var i=0; i<places.length; i++ ) {

                                // 마커를 생성하고 지도에 표시합니다
                                var itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다
                                var newDIV = document.createElement("div")

                                newDIV.appendChild(itemEl)
                            }

                            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
                            listEl.appendChild(newDIV);

                        }
            function placesSearchCB(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 정상적으로 검색이 완료됐으면
                    // 검색 목록과 마커를 표출합니다
                    displayPlaces(data);

                    // 페이지 번호를 표출합니다
                    // displayPagination(pagination);

                } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                    alert('검색 결과가 존재하지 않습니다.');
                    return;

                } else if (status === kakao.maps.services.Status.ERROR) {

                    alert('검색 결과 중 오류가 발생했습니다.');
                    return;

                }
            }

            function searchPlaces(word) {

                var keyword = word

                if (!keyword.replace(/^\s+|\s+$/g, '')) {
                    alert('키워드를 입력해주세요!');
                    return false;
                }

                // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                ps.keywordSearch( keyword, placesSearchCB); 
            }            
            searchPlaces(this.keyword)
            
        }
    }
}
</script>

<style>

</style>