<template>
  <div>
    <button @click='geofind'>위치찾기</button>
    <p> {{textContent}} </p>  

    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
        <div class="hAddr">
            <span class="title">지도중심기준 행정동 주소정보</span>
            <span id="centerAddr"></span>
        </div>
        <div>
          <button @click="createMap()">좌표주소도출</button>
        </div>
    </div>

  </div>


  
</template>
<script async type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b19f497140242875652a2cf566f734f0&libraries=services"></script>
<script>
export default {
    name:'Loc',
    data() {
        return {
            latitude: 0,
            longitude: 0,
            textContent: '',
            address :''
        }
    },
    methods:{
        searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
        },
        searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        },
        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');

                for(var i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }    
        },
        geofind() {
                    if(!("geolocation" in navigator)) {
                    this.textContent = 'Geolocation is not available.';
                    return;
                    }
                    this.textContent = 'Locating...'
                    
                    // get position
                    navigator.geolocation.getCurrentPosition(pos => {
                    this.latitude = pos.coords.latitude;
                    this.longitude = pos.coords.longitude;
                    this.textContent = 'Your location data is ' + this.latitude + ', ' + this.longitude
                    console.log(typeof(this.latitude), this.longitude)
                    }, err => {
                    this.textContent = err.message;
                    })
                    
          },
          createMap() {
            console.log('createMap')
            var geocoder = new kakao.maps.services.Geocoder();
            var coord = new kakao.maps.LatLng(this.latitude, this.longitude);
            var callback = function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    console.log('그런 너를 마주칠까 ' + result[0].address.address_name + '을 못가');
                }
            };

            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
            var geocoder = new kakao.maps.services.Geocoder();

            var callback = function(result, status) {
                if (status === kakao.maps.services.Status.OK) {

                    console.log('지역 명칭 : ' + result[0].address_name);
                    console.log('행정구역 코드 : ' + result[0].code);
                }
            };

            geocoder.coord2RegionCode(this.longitude, this.latitude, callback);
                      

                    
            }
                
                               
    }

}
</script>

<style>
    .map_wrap {position:relative;width:100%;height:350px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>