<template>
    <div class="d-flex justify-content-center container">
        <div class="Login">
            <h3>Login</h3>
            <input type="text" v-model="email" placeholder="email"><br>
            <input @keypress.enter="login({email,password})" type="password" v-model="password" placeholder="password"><br>
            <button @click="login({email,password})">로그인</button>
            <p>만약 계정이 없다면, <router-link to="/signup">회원가입</router-link>을 먼저 진행해주세요!</p>

            <button @click="nowUser">현재토큰불러오기</button>
        </div>
    </div>

</template>

<script>

import firebase from 'firebase'
import { mapActions } from 'vuex';

export default {
    naem:'Login',
    data() {
        return {
            email:'',
            password:'',
        }
    },
    methods : {
        ...mapActions(['login']),
        
        nowUser() {
            firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                console.log(user)
            } else {
                console.log('안떠')
            }
            });
        }
    }
}
</script>

<style>
    .Login {
        margin-top: 40px;
    }

    input {
        margin: 10px 0;
        width: 20%;
        padding: 15px;
    }
    
    button {
        margin: 10px 0;
        width: 20%;
        padding: 15px;
    }

    p {
        margin-top: 40px;
        font-size: 15px;
    }
    p a {
        text-decoration: underline;
        cursor: pointer;
    }
</style>