<template>
  <div class="container">
    <br>
    <br>
    <div v-for="Item in Items" :key="Item.uuid"  class="">
        
        <b-alert variant="dark" show>
            <b-alert variant="light" class="d-flex flex-column" show>
                <div class="d-flex justify-content-between">
                    <div class="progress-icon d-flex justify-content-center" >
                        <i v-if="Item.level == 0" style="color:red; font-size:x-large" class="fas fa-store-alt"></i>
                        <i v-else style="color:black; font-size:x-large" class="fas fa-store-alt"></i>
                    </div>
                    <div class="progress-icon d-flex justify-content-center">
                        <i v-if="Item.level >= 33 && Item.level < 66" style="color:red; font-size:x-large" class="fas fa-box"></i>
                        <i v-else style="color:black; font-size:x-large" class="fas fa-box"></i>
                    </div>
                    <div class="progress-icon d-flex justify-content-center">
                        <i v-if="Item.level >= 66 && Item.level < 99" style="color:red; font-size:x-large" class="fas fa-truck"></i>
                        <i v-else style="color:black; font-size:x-large" class="fas fa-truck"></i>
                    </div>                                       
                    <div class="progress-icon d-flex justify-content-center">
                        <i v-if="Item.level >= 99" style="color:red; font-size:x-large" class="fas fa-street-view"></i>
                        <i v-else style="color:black; font-size:x-large" class="fas fa-street-view"></i>
                    </div>
                    
                </div>
                <br>
                <b-progress variant="danger" :value="Item.level" :max="max"  animated></b-progress> 
                <br>
                <h4>{{Item.state}}</h4>
                <br>
                <div class="d-flex justify-content-between">
                    <p>{{Item.start}}</p>
                    <p>{{Item.arrive}}</p>
                </div>
                <button @click="percent(Item.uuid)" class="btn btn-primary">퍼센트 변경</button>
                <p><strong>상품리스트</strong></p>     
                <div class="">
                   <ul class="d-flex justify-content-between" v-for="it in Item.totalData" :key="it[0]">
                       <div class="d-flex justify-content-center">
                        <li>{{ it[0] }}</li>    
                       </div>
                       <div class="d-flex justify-content-center">
                        <li>{{ it[1] }}</li>    
                       </div>
                       <div class="d-flex justify-content-center">
                        <li>{{ it[2] }}</li>    
                       </div>
                        
                        
                        
                    </ul>                       
                </div>
                <div>
                    <p>총 금액 : {{Item.totalPrice}}</p>
                    <p>배송비 : {{Item.delcost}}</p>
                    <p>예상도착시간 : {{ Item.date }} {{Item.time}}</p>
                </div>
             
            </b-alert>             
        </b-alert>
    </div>
    
    
  </div>
</template>

<script>


export default {
    data() {
      return {
        state: '상품을 준비중입니다',
        value: 75,
        max: 100,
        Items:[]
      }
    },
    created() {

        
        this.$fireDB.collection('order').onSnapshot((snapshotChange) => {
            
            snapshotChange.forEach((doc) => {   
                             
                let sub = {
                    uuid : doc.id,
                    id: doc.data().id,
                    start: doc.data().start,
                    arrive: doc.data().arrive,
                    count :doc.data().count,
                    name: doc.data().name,
                    price : doc.data().price,
                    date: doc.data().date,
                    time: doc.data().time,
                    delcost : doc.data().delcost,
                    totalPrice: doc.data().totalPrice,
                    level:doc.data().level,
                    state:'',
                    totalData:[]
                    
                    
                }
                
                for (let i = 0; i < sub.count.length; i++) {
                    let dummyList = []
                    dummyList.push(sub.name[i])
                    dummyList.push(sub.count[i])
                    dummyList.push(sub.price[i])
                    sub.totalData.push(dummyList)
                }


                if (sub.level == 0 ) {
                    sub.state = '주문 접수 중입니다'
                } else if(sub.level > 0 && sub.level <= 33)  {
                    sub.state = '상품 준비중입나다'
                } else if (sub.level < 66 && sub.level >= 33) {
                    sub.state = '퀵기사님 출발하였습니다'
                } else {
                    sub.state = '상품 수령이 완료되었습니다'
                }

                this.Items.push(sub)
                
            })
        })
        
        console.log(this.Items)
    },
    methods: {
      randomValue() {
        this.value = Math.random() * this.max
      },
      reSet() {
          this.$router.go(this.$router.currentRoute)
      },
      percent(id) {
        //   let target;
          this.Items.map((x) => {
              if (id == x.uuid) {

                  if (x.level >= 100) {
                      x.level = 0
                      x.state = '주문 접수 중입니다'

                
                    // this.$fireDB.collection("order").doc(id).delete().then(() => {
                    //     console.log("Document deleted!");
                    //     this.$router.go(this.$router.currentRoute)
                    // })
                    // .catch((error) => {
                    //     console.error(error);
                    // })
                                        
                  } else if(x.level >= 66 && x.level < 100) {
                      x.level = 100
                      x.state = '상품 수령이 완료되었습니다'
                  } else if(x.level >= 0 && x.level < 33) {
                      x.level += 33
                      x.state = '상품 준비중입니다'
                  } else {
                      x.level += 33
                      x.state = '퀵기사님 출발하였습니다'
                  }
                //   target = x
            }
            



          })
          

        // db.collection('order').doc(id)
        // .update(target).then(() => {
        //     console.log("User successfully updated!");
            
        // }).catch((error) => {
        //     console.log(error);
        // });       
   
          
      }
    }
  }
</script>
<style  scoped>
    .progress-icon {
        /* width: 10%; 
        height: 100%; 
        border: 1px solid navy ;
        border-radius: 10vh; 
        background-color: navy;
        color: white; */

    }
</style>