<template>
  <div class="container">
      <div class="row">
        <div class="col-3">
            <label>결과 내 재검색</label>
            <hr>
            <div class="scroll-box">
                <label>선택한 항목</label>
                <ul v-for="keyword in filters" :key="keyword">
                    <li >
                        <b-alert class="filter-content" show variant="light">
                            <div class="alert-link d-flex justify-content-between">
                                <div class="filter-text">{{keyword}}</div>
                                <div @click="closefilter">                                
                                    <strong>X</strong>
                                </div>
                               

                            </div>
                        </b-alert>
                    </li>
                </ul>
            </div>
            <hr>
            <div>
                <label>품절제외</label>
            </div>
            <hr>
            <div>
                <p>구분</p>
                <div class="scroll-box">
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="남자">
                        <label class="select-type" for="남자">남자</label>                     
                    </div>
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="여자">
                        <label class="select-type" for="여자">여자</label>   
                    </div>
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="공용">
                        <label class="select-type" for="공용">공용</label>   
                    </div>
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="아동용">
                        <label class="select-type" for="아동용">아동용</label>   
                    </div>
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="왼손용">
                        <label class="select-type" for="왼손용">왼손용</label>   
                    </div>

                    
                    
                </div>                
            </div>
            <br>
            <div>
                <p>브랜드</p>
                <div class="scroll-box">
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="타이틀리스트">
                        <label for="타이틀리스트" class="select-brand">타이틀리스트</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="테일러메이드">
                        <label for="테일러메이드" class="select-brand">테일러메이드</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="엑스넬스">
                        <label for="엑스넬스" class="select-brand">엑스넬스</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="캘러웨이">
                        <label for="캘러웨이" class="select-brand">캘러웨이</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="브리지스톤">
                        <label for="브리지스톤" class="select-brand">브리지스톤</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="핑">
                        <label for="핑" class="select-brand">핑</label>                        
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="미즈노">
                        <label for="미즈노" class="select-brand">미즈노</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="젝시오">
                        <label for="젝시오" class="select-brand">젝시오</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="혼마">
                        <label for="혼마" class="select-brand">혼마</label>
                    </div>
                    <div class="brand">
                        <input @click="filterCheck" type="checkbox" name="" id="PRGR">
                        <label for="PRGR" class="select-brand">PRGR</label>       
                    </div>
                </div>                   
            </div>
            <br>
            <div class="scroll-box">
                <p>매장픽업</p>
                <div class="">
                    <input @click="filterCheck" type="checkbox" name="" id="가능">
                    <label for="불가능" class="select-pickup">가능</label>       
                </div>       
                <div class="">
                    <input @click="filterCheck" type="checkbox" name="" id="PRGR">
                    <label for="PRGR" class="select-pickup">불가능</label>       
                </div>                               
            </div>
            <br>
            <div class="scroll-box">
                <p>퀵서비스</p>
                <div class="">
                    <input @click="filterCheck" type="checkbox" name="" id="가능">
                    <label for="불가능" class="select-pickup">가능</label>       
                </div>       
                <div class="">
                    <input @click="filterCheck" type="checkbox" name="" id="PRGR">
                    <label for="PRGR" class="select-pickup">불가능</label>       
                </div>                               
            </div>            
            <br>  
            <div>
                <p>배송유형</p>
                <div class="scroll-box">
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="물류택배">
                        <label for="물류택배" class="select-pickup-type">물류택배</label>       
                    </div>  
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="매장택배">
                        <label for="매장택배" class="select-pickup-type">매장택배</label>       
                    </div>  
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="매장픽업">
                        <label for="매장픽업" class="select-pickup-type">매장픽업</label>       
                    </div>  
                    <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="업체상품">
                        <label for="업체상품" class="select-pickup-type">업체상품</label>       
                    </div>               
                   <div class="">
                        <input @click="filterCheck" type="checkbox" name="" id="퀵서비스">
                        <label for="퀵서비스" class="select-pickup-type">퀵서비스</label>       
                    </div>                                                                              
                </div>                   
            </div>
            <br>   
            <div>
                <p>가격</p>
                <div class="d-flex flex-row">
                    <input class="price-input" type="text">
                    <div class="d-flex align-items-center">
                        <p class="input-tail">부터</p>
                    </div>
                </div>
                <br>
                <div class="d-flex flex-row justify-content-between">    
                    <div class="d-flex align-items-center">
                        <input  class="price-input" type="text">     
                        <p class="input-tail">까지</p>
                    </div>
                    <button class="search-btn-area d-flex justify-content-center">
                        <i class="fas fa-search search-btn"></i>
                    </button>                    
                </div>
 
            </div>
            <br>                                          

           
        </div>
        <div class="col-9">
            <div>

            </div>
            
            <div>
                <h2>상품리스트(total)</h2>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div @click="goDetail" class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-danger del-badge">퀵서비스</span>
                            <span class="badge badge-primary del-badge">물류택배</span>
                            <span class="badge badge-info del-badge">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                            
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star yello-star"></i>
                                <i class="fas fa-star yello-star"></i>
                                <i class="fas fa-star yello-star"></i>
                                <i class="fas fa-star yello-star"></i>
                                <i class="fas fa-star yello-star"></i>                                
                            </div>
                        </div>
                    </div> 
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-danger del-badge">퀵서비스</span>
                            <span class="badge badge-primary del-badge">물류택배</span>
                            <span class="badge badge-info del-badge">매장픽업</span>     
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>    
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>   
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>
                                                                           
                </div>
<div class="row">
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                            
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div> 
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>    
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>   
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>
                                                                           
                </div>
            <div class="row">
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                            
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div> 
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>    
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>   
                    <div class="col card">
                        <img src="https://m.pro9000.co.kr/web/product/big/201804/473_shop1_440414.jpg" class="card-img-top" alt="...">
                        <div class="badge-area">
                            <span class="badge badge-primary">물류택배</span>
                            <span class="badge badge-info">매장픽업</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">브랜드명</h5>
                            <h6>상품명</h6>
                        
                            <label>판매가</label>
                            <br>
                            <label>할인가</label>
                            <label>(할인율)</label>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                        </div>
                    </div>
                                                                           
                </div>                                
            </div>         
        </div>          
      </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
    name:'ItemList',
    data() {
        return {
            filters : [

            ]
        }
    },
    methods: {
        goDetail() {
            this.$router.push('/detail/1')
        },
        filterCheck(event) {
            let alertName = event.toElement.id
            if ( this.filters.indexOf(alertName) >= 0) {
                let keywordIndex = this.filters.indexOf(alertName)
                this.filters.splice(keywordIndex,1)

            } else {
                this.filters.push(alertName)
 
            }

        },
        closefilter(event) {
            console.log(event)
            console.log(event.target.innerText)
        }
    }
}
</script>

<style scoped>
    .card {
        width: 28.5vh; 
        height: 55vh;
    }
    .card_body {
        height: 10vh;
    }
    .badge-area {
        padding-left: 1vh;
    }
    .badge {
        margin-left: 0.5vh;
        font-size: xx-small;
    }
    .scroll-box {
        width:30vh;
        height:25vh;
        line-height:3em;
        overflow:scroll;
        padding:5px;
    }
    .pickup-box {
        height:15vh;
    }


    label {
        margin: 0;
    }
    .scroll-box label {
        padding-left: 1vh;
    }    
    .filter-area {

        border:1px gray solid;
        margin: 0;
        padding: 0;
    }
    .filter-text {
        font-size: small;
    }
    .filter-content {
        border:2px black solid;
        width: 20vh;
        height: 10vh;
    }
    .price-input {
        width: 18vh;
        height: 5vh;
    }
    .input-tail {
        margin: 0;
        margin-left: 0.5vh;
        font-size: small;
    }
    .search-btn-area {
        width: 15%;
       
    }
    .search-btn {
        padding: 0 !important;
        padding-bottom: 1vh;
    }
    .yello-star {
        color:gold;
    }

    
</style>